seed: 0

data:
  csv_path: data/metadata/kaggle_blastocyst_good_poor.csv
  data_root: data
  train_frac: 0.64
  val_frac: 0.16
  test_frac: 0.2

  batch_size: 32
  num_workers: 4

  resize_size: 256
  crop_size: 224

  rotation_deg: 5
  color_jitter: 0.0
  horizontal_flip: 0.5

  normalize_mean: [0.485, 0.456, 0.406]
  normalize_std:  [0.229, 0.224, 0.225]

model:
  name: mobilenet_v3_large_baseline
  dropout: 0.2
  pretrained: false

training:
  epochs: 40
  lr: 0.0003
  weight_decay: 0.0005

  early_stopping:
    monitor: val_auprc
    patience: 10

  precision: 32
  accelerator: auto
  devices: 1
  deterministic: true

logging:
  output_dir: outputs_mobilenet_v3_large_baseline
