seed: 0

data:
  csv_path: data/metadata/humanembryo2.csv
  data_root: data/HumanEmbryo2.0
  task: stage
  use_predefined_split: true

  train_frac: 0.64
  val_frac: 0.16
  test_frac: 0.2

  batch_size: 32
  num_workers: 4

  resize_size: 256
  crop_size: 224

  rotation_deg: 5
  color_jitter: 0.0
  horizontal_flip: 0.5

  normalize_mean: [0.485, 0.456, 0.406]
  normalize_std:  [0.229, 0.224, 0.225]

model:
  name: ivf_morph_stage_head
  encoder_name: effimorphp
  pretrained: false
  reduce_channels: 640
  use_simam: true
  use_msma: true
  use_mcm: true
  mcm_depth: 1
  mcm_expand: 2
  use_eca: true
  pooling_quality: gem
  pooling_aux: gap
  dropout: 0.2

  enable_quality: false
  enable_stage: true
  enable_morph: true
  num_stage_classes: 3
  num_exp_classes: 6
  num_icm_classes: 3
  num_te_classes: 3

training:
  task: stage
  epochs: 40
  lr: 0.0003
  weight_decay: 0.0005
  init_ckpt: outputs_phase1_morph_effimorphp/best.ckpt

  loss_weights:
    stage: 1.0

  freeze_encoder_ratio: 0.0
  unfreeze_epochs: 0

  early_stopping:
    monitor: train_loss
    enabled: false
    patience: 10

  precision: 32
  accelerator: auto
  devices: 1
  deterministic: true

logging:
  output_dir: outputs_phase2_stage_effimorphp
